<footer class="footer fixed-bottom bg-info text-light textbo fw-bold fs-4">
    <div class="container text-center">
        <div class="row">
            <div class="col-12 col-md-4 d-flex justify-content-center mb-2 mb-md-0">
                <a href="aboutme" class="btn btn-info text-light textbo fw-bold fs-5" role="button">About Me</a>
            </div>
            <div class="col-12 col-md-4 d-flex justify-content-center mb-2 mb-md-0">
                <a href="privacypolicy" class="btn btn-info text-light textbo fw-bold fs-5" role="button">Privacy Policy</a>
            </div>
            <div class="col-12 col-md-4 d-flex justify-content-center">
                <a href="termsofservice" class="btn btn-info text-light textbo fw-bold fs-5" role="button">Terms of Service</a>
            </div>
        </div>
    </div>
</footer>