@page "/foodlogging"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<link rel="stylesheet " href="~/customcsspages/FoodLogging.css"/>

<h3 class="text-center">Food Logging</h3>
<p class="blockquote text-center">Welcome to the Food Logging Page</p>
<p class="blockquote text-center">Here you can search for food items from our database and add/remove entries</p>

<div class="container-fluid">
    <div class="row d-flex align-items-stretch">

        <!-- Textarea column -->
        <div class="col-sm-10 d-flex">
            <textarea class="form-control w-100" style="resize:none; min-height:70px;"
                      placeholder="Search for Food Item from Database"></textarea>
        </div>

        <!-- Button column -->
        <div class="col-sm-2 d-flex">
            <p class="w-100 h-100" style="padding: 2px; margin: 2px; border-radius: 5px;">
                <a href="https://calculator.academy/servings-calculator/">How we calculate serving sizes</a>
            </p>
        </div>

    </div>
</div>
<hr />
<div class="container-fluid">
    <div class="row d-flex align-items-stretch">

        
        <div class="col-sm-10 d-flex">
            <ul class="list-group w-100">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
            </ul>
        </div>

       
        <div class="col-sm-2 d-flex flex-column">

            
            <div class="flex-grow-2 mb-2">
                <textarea class="form-control w-100 h-100"
                          placeholder="Input serving size"></textarea>
            </div>

       
            <div class="flex-grow-1">
                <div class="form-control d-flex justify-content-center align-items-center h-100">                  
                    Food grade: A
                </div>
            </div>

        </div>

    </div>
</div>

<div class="d-sm-flex justify-content-md-evenly">
<div class="piechart"></div>
    <button type="button" class="btn btn-primary align-self-md-end">Enter</button>
</div>


    <label>Manual Entry</label>
    <div class="form-floating textbox">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Food</label>
    </div>

    <div class="form-floating textbox">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Serving Size</label>
    </div>

    <div class="form-floating textbox">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Calories</label>
    </div>

@*Wraps the enter and the dieting advice button onto the same row using the appropriate
    bootstrap class.
*@
<div class="d-sm-flex justify-content-between">
<button type="button" class="btn btn-secondary">Enter</button>
    <button type="button" class="btn btn-info" @onclick="NavToDietQuestionnaire">Dieting advice</button>
</div>

@code {

    private void NavToDietQuestionnaire()
    {
        NavigationManager.NavigateTo("dietquestionnaire");
    }
}
