@page "/graphs"
@using WebsiteFirstDraft.Data.Models
@rendermode InteractiveServer

<br />
<div class="container-fluid">
    <div class="card shadow-sm">
        <div class="card-body">

            @* QUESTION 1 *@
            <div class="mb-4">
                <label class="form-label">
                    <strong>
                        What category of graph are you looking for?
                    </strong>
                </label>
                <select class="form-select" @bind="GraphCategory">
                    <option disabled value="">Select an option</option>
                    <option>BodyweightProgress</option>
                    <option>CalorieTracking</option>
                    <option>Macros</option>
                    <option>Hypertrophy</option>
                    <option>Exercise</option>
                    <option>Consistency</option>
                </select>
            </div>

        @* QUESTION 2 *@
        <div class="mb-4">
            <label class="form-label">
                <strong>
                    Select your graph
                </strong>
            </label>
                <EnumInput TEnum="GraphName" @bind-Value="@selectedGraph" />
@*             <select class="form-select" @bind="graphname">
                <option disabled value="">Select an option</option>

                    @if (GraphCategory.HasValue)
                    {
                        switch ((int) GraphCategory)
                        {
                            case 0:
                                <option>Bodyweight over Time</option>
                                <option>Weight Change per Week</option>
                                break;
                            case 1:
                                <option>Daily Calorie Intake vs Target</option>
                                <option>Daily calorie surplus or deficit</option>
                                break;
                            case 2:
                                <option>Average Macro Distribution</option>
                                <option>Daily Macro Intake</option>
                                break;
                            case 3:
                                <option>#To be Completed</option>
                                break;
                            case 4:
                                <option>Calories Burnt Through Exercise</option>
                                <option>Exercise Type Frequency</option>
                                break;
                            case 5:
                                <option>Logging Streak over Time</option>
                                <option>Activity Consistency</option>
                                break;
                            default:
                                break;
                        }
                    }

            </select> *@
        </div>

        </div>
    </div>
</div>



@code {
    private int selectedGraph;
    
}


<br />
<br />
<div class="container-fluid overflow-x-auto">
    <LineChart @ref="lineChart" Width="800" Height="400" />
</div>
