@page "/hypertrophy"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

@*Imported from Exercise logging page.*@
<h3>Hypertrophy</h3>
<link rel="stylesheet " href="~/customcsspages/FoodLogging.css" />


<p class="blockquote ">Introductory message + explanation of use</p>

<div class="container-fluid">
    <div class="row d-flex align-items-stretch">

        <!-- Textarea column -->
        <div class="col-sm-10 d-flex">
            <textarea class="form-control w-100" style="resize:none; min-height:70px;"
                      placeholder="Search for Exercise from Database"></textarea>
        </div>

        <!-- Button column -->
        <div class="col-sm-2 d-flex">
            <button type="button" class="btn btn-secondary" @onclick="NavToHypertrophy">Hypertrophy page</button>
        </div>

    </div>
</div>

<hr />
<div class="container-fluid">
    <div class="row d-flex align-items-stretch">


        <div class="col-sm-10 d-flex">
            <ul class="list-group w-100">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
            </ul>
        </div>


        <div class="col-sm-2 d-flex flex-column">

            <div class="flex-grow-1 mb-2">
                <div class="form-control d-flex justify-content-center align-items-center h-100">
                    Exercise Grade: A
                </div>
            </div>


            <div class="flex-grow-2 d-flex">
                <button type="button" class="btn btn-primary w-100 h-100">
                    Log
                </button>
            </div>

        </div>

    </div>
</div>


<br />
<label>Manual Entry</label>
<div class="form-floating textbox">
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
    <label for="floatingTextarea">Exercise</label>
</div>




@*Wraps the enter and the dieting advice button onto the same row using the appropriate
    bootstrap class.
*@
<div class="d-sm-flex justify-content-between">
    <div class="dropdown-center">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Centered dropdown
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Sets and Reps</a></li>
            <li><a class="dropdown-item" href="#">Distance and Time</a></li>
            <li><a class="dropdown-item" href="#">Speed and Time</a></li>
        </ul>
    </div>
    <button type="button" class="btn btn-secondary">Log</button>
    <button type="button" class="btn btn-info">Generate a Workout Split</button>
</div>


@code {

    private void NavToHypertrophy()
    {
        NavigationManager.NavigateTo("hypertrophy");
    }


}

